<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="md:p-10 sm:p-6 border-b border-grey-light">
    <ul class="list-reset md:flex">
        <li class="pr-12 mr-12 md:border-r md:border-grey-light">
            <a class="dark" href="/"><b>PhishDetect</b></a>
        </li>
        <li class="mr-12 md:mt-0 sm:mt-4">
            <a class="text-blue hover:text-blue-dark" href="/download/">Download</a>
        </li>
        <li class="mr-12 md:mt-0 sm:mt-4">
            <a class="text-blue hover:text-blue-dark" href="/help/">Help</a>
        </li>
        <li class="mr-12 md:mt-0 sm:mt-4">
            <a class="text-blue hover:text-blue-dark" href="/nodes/">List of Nodes</a>
        </li>
        <li class="mr-12 md:mt-0 sm:mt-4">
            <a class="text-blue hover:text-blue-dark" href="/faq/">FAQ</a>
        </li>
    </ul>
</div>
<div class="md:p-12 sm:p-4">
{{ content }}
</div>
{% include footer.html %}
</body>
</html>
